* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  /* height: 5vh; */
  margin: 0.5rem;
}

.select-data-container {
  /* height: 5vh; */
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-data-container p {
  margin: 0 0.5rem;
}

.select-data-container button {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.2rem;
  border-radius: 6px;
  font-size: 0.7rem;
  background-color: rgb(226, 226, 231);
  border: 1px solid #ccc9c9;
}

.select-data-container-pins-text {
  padding-bottom: 0.2rem;
  font-size: 0.8rem;
}

.date-picker {
  margin-left: 2rem;
}

.map {
  height: 81vh;
  width: 100vw;
}

.location-marker {
  font-size: 2rem;
  color: #961515;
}

.location-info-box {
  position: absolute;

  top: 127px;
  right: 80px;
  width: 350px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}

.location-info-box-btn-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1rem;
  background: none;
  color: #fff;
  border: none;
}

.location-info-box h3 {
  padding: 0.5rem;
}

.location-info-box-more-info {
  margin-top: 1rem;
  padding: 0.2rem;
}

.show-local-area-graph-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 127px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 500px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}
